form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 0 250px;
    margin-right: 1rem;
    position: relative;
    padding: 1.5rem;
    transform: translateY(-10px);
    scroll-snap-align: start;
    scroll-margin-inline-start: 5px;
    min-width: 350px;
}

form > div {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    color: white;
}

form::before{
    content: "";
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: 1;
    border-radius: 12px; /* background-color: antiquewhite; */
}

form::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;
    border-radius: 8px;
}

.CheckboxContainer{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.CheckboxContainer label{
    margin-bottom: 0 !important;
}

button:disabled {
    /* background: linear-gradient(130deg,#ff781867,#af002c69 41.07%,#31909769 76.05%);
    back */
    background-color: #319197;
    opacity: 0.4;
    cursor:no-drop;
    color: #eaeaea;
}

button{
    width: 50%;
    padding: 0.5rem;
    display: inherit;
    margin: 0.5rem auto;
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: 300;
    color: white;
}

.ColumnCreator{
    display: flex;
    flex:1;
}

.Error{
    color:red;
    /* background-color: black; */
    font-size: 10.5px;
    margin-bottom: 2px;
}