.ImageContainer{
    width: 112px;
    height: 126px;
    position: absolute;
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    padding: 0.12rem;
    border-radius: 11px;
    top: -6%;
    right: 3%;
 }

 .ImageContainer img{
    width: 100%;
    height:100%;  
    border-radius: 11px;
 }